:root {
  //scroll-behavior: smooth;
  body{
    font-family:MyFont;
  }
  .logo{
    border-radius: 100%;
  }
  a{
    position: relative;
    z-index: 1;
  }
  .no-sidebar{
    background: url("/images/bg.png") -400px 0 no-repeat;
    background-size: 100% 100%;
  }
  .el-divider__text{
    color: #409eff;
  }
  .wl-panel,.sidebar{
    background: transparent;
  }
  .wl-power,.DocSearch-Logo{
    display: none;
  }
  // 滚动条
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: #3579d5;
    transition: color 0.2s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  .el-divider__text{
    width: 130px;
  }
  @media screen and (max-width: 500px) {
    /* 当屏幕高度小于等于500px时的样式 */
    .no-sidebar{
      background: none;
      background-size: 100% 100%;
    }
    .sidebar{
      background: #ffffff;
    }
  }
}
html.dark{
  .no-sidebar{
    background: url("/images/darkbg.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  .el-divider__text{
    background: #22272e;
    color: #409eff;
  }
  @media screen and (max-width: 500px) {
    /* 当屏幕高度小于等于500px时的样式 */
    .no-sidebar{
      background: none;
      background-size: 100% 100%;
    }
    .sidebar{
      background: #22272e;
    }
  }
}
